<div class="reveal" id="new-task" data-reveal>
   
   
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
 document.querySelectorAll('.volunteer-task').forEach((button) => {
    button.addEventListener('click', volunteerHandler);
 });
</script>