{{!-- Commented out in case not needed

<div class="reveal" id="newaccount" data-reveal>
    <h2>Create New User</h2>
    <form>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>Username</label>
                <input type="text" placeholder="Username" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>Email</label>
                <input type="text" placeholder="Email" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>Zip</label>
                <input type="text" placeholder="Zip" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label>Password</label>
                <input type="password" placeholder="Password" />
            </div>
        </div>
    </form>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <button class="hollow button secondary" href="#">Create Account</button>
        </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div> --}}