{{!-- View page seen if user is not logged in --}}

<div>
    <h1 class="custom-h1">Task Train</h1>

    <form class="custom-form">
        <div class="row">
            <div>
                <label class="signup">Username
                    <input type="text" placeholder="Username">
                </label>
            </div>
        </div>
        <div class="row">
            <div>
                <label class="signup">Password
                    <input type="text" placeholder="password">
                </label>
            </div>
        </div>
        <div class="row">
            <button class="expanded secondary login-button" href="#">LOGIN</button>
        </div>
    </form>

    <div class="row custom-form">
        <div class="cell text-center ">
            <button class="hollow button secondary" data-open="newaccount" href="#">+ Create New Account</button>
        </div>
    </div>
    <img style="width: 10%; height: 10%" src="./images/train.png" class="logo-center" alt="train logo">
</div>
