{{!-- Commented out for modal testing

<div class="grid-x profile">
    <div class="cell ">
        <button class="hollow button secondary" data-open="task-details" href="#">View Task Details: To Be linked to
            each task</button>
    </div>
</div>

<div class="reveal" id="task-details" data-reveal>
    <h4>Walk My Dog</h4>
    <h5>Created by: John Smith</h5>
    <p>April 2, 2022 at 10 am</p>
    <p>I've just had surgery and would need someone to help me take the dog out for a walk. </p>

    <div class="cell"><p>if task is unclaimed</p>
        <button class="hollow button secondary" data-open="task-details" href="#">Volunteer for this task!
        </button>
    </div>

    <div class="cell"><p>if session user == task owner</p>
        <button class="hollow button secondary" data-open="task-details" href="#">Delete Task
        </button>
        <button class="hollow button secondary" data-open="task-details" href="#">Edit Task
        </button>
    </div>

    <div class="cell"><p>if session user == task taker</p>
        <button class="hollow button secondary" data-open="task-details" href="#">Cancel
        </button>
    </div>

    <div class="cell"><p>Comment Section - to be added</p>
    </div>

    <div class="cell"><p>Add to calendar - optional</p>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


Chat box
<div class="grid-x profile">
    <div class=" cell container">
        <form>
            <div class="form-group">
                <textarea class="form-control status-box" rows="3"
                    placeholder="Enter your comment here..."></textarea>
            </div>
        </form>
        <div class="button-group pull-right" style="cursor: pointer;">
            <a class="btn btn-primary button secondary hollow">Post</a>
        </div>
        <ul class="posts">
        </ul>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script> --}}