@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');


:root {
    --lightturqoise: #defeff;
    --turquouise: #1ac0c6; 
    --darkgray: #04211f;
    --coral: #ff7675;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--lightpink);
}

body {
    padding: 2em;
    background-color: var(--lightturqoise);
    font-family: 'Megrim', cursive;
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: var(--darkgray);
}

.custom-h1 {
    color: var(--turquouise);
    font-size: 400%;
    font-family: 'Megrim', cursive;
    text-align: center;
}

.custom-h2 {
    color: var(---lightturqoise);
    font-size: 200%;
    font-family: 'Raleway',
}

.custom-h3 {
    color: var(---lightturqoise);
    font-size: 180%;
    font-family: 'Raleway', sans-serif;
}

.custom-h4 {
    color: var(--darkgray);
    font-size: 120%;
    font-family: 'Raleway', sans-serif;
}

.custom-p {
    color: var(--darkgray);
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}

/*LOGIN PAGE ITEMS*/

.signup {
    font-family: 'Raleway', sans-serif;
    font-size: 110% !important;
}

.login-button {
    color: var(--lightturqoise);
    background-color: var(--turquouise);
    padding: 10px;
    width: 100%;
    border-width: medium;
}

.create-button {
    color: var(---darkgray);
    padding: 10px;
    width: 100%;
    border-width: medium;
}

.custom-form {
    margin: 3em;
}

.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/* NAVIGATION */

#hamItems { 
    display: flex; 
    
}
#hamItems a { 
    width: 130%; 
    font-family: 'Raleway', sans-serif;
}

#hamItems a:hover {
    color: var(--coral)
}

#hamNav label, #hamburger { 
    display: none; 
}

#hamNav label { 
    font-size: 1.5em; 
    color: var(--turquouise);
}

#hamNav { 
    background: #04211f; 
}

#hamNav, #hamItems a {
    padding: 10px;
    color: var(--lightturqoise);
    text-decoration: none;
    margin-left: 10px;
  }

/* PROFILE PAGE */

.profile {
    margin: 1em;
    padding: 1em;
}

.table-h4 {
    color: var(--turquouise);
    font-size: 120%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.table-button {
    background-color: white;
    border: 1px solid var(--turquouise);
    padding: 5px 10px;
    display: inline-block;
    column-width: auto; 
    font-family: 'Raleway', sans-serif;

}

@media only screen and (max-width: 768px) {
  #hamNav label { 
      display: inline-block; 
      text-align: right;
    }
 
  #hamItems { 
      flex-wrap: wrap; 
    }
 
  #hamItems { 
      display: none; 
    }

  #hamNav input:checked ~ #hamItems { 
      display: flex; 
    }
}